<section class="all-data">
  <div class="container">
    <div class="row">
      <table class="table table-striped">
        <tr ng-repeat="data in crypto.bpi">
          <td>{{ $index + 1 }}</td>
          <td>{{  data.code }}</td>
          <td> {{  data.rate }} </td>
          <td> {{data.description | uppercase}} </td>
          <td>{{data.rate_float}} </td>
        </tr>
      </table>
    </div>
  </div>
  </div>
  <div class="container">
    <div class="row">
      <select class="form-control" ng-model="selectedData">
        <option ng-repeat="data in crypto.bpi" value="{{data.code}}">{{data.code}}</option>
      </select>
      <h1>You selected: {{selectedData}}</h1>
      <select class="form-control" ng-model="selectedObject" ng-options="x for (x, y) in crypto.bpi.EUR">
      </select>
      <h1>You selected: {{selectedObject}}</h1>
    </div>
  </div>
</section>