<section>
  <div class="container">

    <h2>{{ crypto.disclaimer }}
    </h2>
    <div class="row">
      <div class="col-xs-4">
        <p>Updated - {{ crypto.time.updated | date }} </p>
      </div>
      <div class="col-xs-4">
        <p>Updated ISO - {{ crypto.time.updatedISO | date }} </p>
      </div>
      <div class="col-xs-4">
        <p> Updated UK - {{ crypto.time.updateduk | date }} </p>
      </div>
    </div>
    <div class="row">
      <div class=" col-xs-4" ng-repeat="data in crypto.bpi ">
        <div class="item">
          <a href="#/photos/{{data.code}}">
            <h3 class="author"> {{  data.code }}</h3>
          </a>
          <p> {{  data.rate }} </p>
          <p class="likes" ng-click="plusOne(data.code)">+ </p>
          <p class="dislikes" ng-click="minusOne(data.code)">-</p>
        </div>
      </div>
    </div>
    <div class="mx-auto">
      <a href="#/all-data"><button type="button" class="btn btn-secondary">View All</button></a>
    </div>
    <div class="row">
      <div class="col">
        <span>
          <h3>Fancy changing the disclaimer?</h3> <input type="checkbox" ng-model="mySwitch" />
          <p>{{mySwitch}}</p>
        </span>
        <div class="mx-auto">
        <button type="button" class="btn btn-dark" ng-disabled="mySwitch" ng-click="changeName()">Click Me!</button>
        </div>
      </div>
    </div>

  </div>
</section>